<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h4>Riya</h4>
                    <img class="img-fluid" src="assets/img/file1.jpg">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h4>Namrata</h4>
                    <img class="img-fluid" src="assets/img/file2.jpg">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h4>Mounita</h4>
                    <img class="img-fluid" src="assets/img/file3.jpg">
                </div>

            </div>
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h4>Moupriya</h4>
                    <img class="img-fluid" src="assets/img/moupriya.jpg">
                </div>

            </div>
            <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bi bi-tv"></i>
                                <h4 style="padding-top: 50px;">Priyam</h4>
                                <p>
                                    Today is someone special’s birthday. Someone who is as selfless and compassionate as they are beautiful and bubbly. Someone who lights up a room with a 400-Watt smile. Someone with grace and poise and has a wicked sweet tooth. Happy Birthday to Ritaja.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bi bi-cloud-hail-fill"></i>
                                <h4 style="padding-top: 50px;">সুকান্ত হুই</h4>
                                <p>
                                    সবাই মিলে আমরা কিছু ব্যবস্থা করেছি, কিন্তু বৃষ্টি ভেস্তে দেওয়ার ভয় দেখাচ্ছে, আমরাও আমাদের লক্ষ্যে অটল, কালকের অনুষ্ঠানের জন্য আমরা উদগ্রীব, তুই আমাদের খুব প্রিয় ও আদুরে। তোর উচ্ছলতা, নেকামোকে যারা প্রমোট করে ও উৎসাহ প্রদান করে আমি তাদের মধ্যে একজন। “তুমি খুব খারাপ” শুনে খারাপ লাগার পরিবর্তে ভালো লাগার নাম ঋতজা, দরাজ গলার গানতো সবার ভালো লাগে কিন্তু তোর হাসি শুনেও মন ভালো লাগে। শুধু আমি নই সবাই তোকে ভালবাসে। এই রকম সবার প্রিয় হয়ে থাক। সবার সাথে থাক।

                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>
        <h4>Mounita</h4>
        <div class="row" style="background-color: yellowgreen !important;">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content" style="background-color: #b1a8a8 !important;">
                    <img class="img-fluid" src="assets/img/mounita1.jpg">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch" >
                <div class="content" style="background-color: #b1a8a8 !important;">
                    <img class="img-fluid" src="assets/img/mounita2.jpg">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch" >
                <div class="content" style="background-color: #b1a8a8 !important;">
                    <img class="img-fluid" src="assets/img/mounita3.jpg">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch" >
                <div class="content" style="background-color: #b1a8a8 !important;">
                    <img class="img-fluid" src="assets/img/mounita4.jpg">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch" >
                <div class="content" style="background-color: #b1a8a8 !important;">
                    <img class="img-fluid" src="assets/img/mounita5.jpg">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch" >
                <div class="content" style="background-color: #b1a8a8 !important;">
                    <img class="img-fluid" src="assets/img/mounita6.jpg">
                </div>
            </div>

        </div>
        <!--        Mou-->
        <h4>Mou</h4>
        <div class="row" style="background-color: #2c3034 !important;">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content" style="background-color: #e5c079 !important;">
                    <img class="img-fluid" src="assets/img/mou1.jpg">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch" >
                <div class="content" style="background-color: #e5c079 !important;">
                    <img class="img-fluid" src="assets/img/mou2.jpg">
                </div>
            </div>
        </div>
        <h2>Sreeparna</h2>
        <div class="row" style="background-color: #2c3034 !important;">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content" style="background-color: #9599ee !important;">
                    <img class="img-fluid" src="assets/img/sreeparna1.jpg">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch" >
                <div class="content" style="background-color: #9599ee !important;">
                    <img class="img-fluid" src="assets/img/sreeparna2.jpg">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch" >
                <div class="content" style="background-color: #9599ee !important;">
                    <img class="img-fluid" src="assets/img/sreeparna3.jpg">
                </div>
            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->
