<!-- ======= Trainers Section ======= -->
<section id="trainers" class="trainers">
    <div class="container pt-2" data-aos="fade-up">
        <div class="row" >
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-right" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4> Photographer Ritaja</h4>
                        <span>Amicable</span>
                        <!-- <p>
                          Web Developper, Efficient in differrent programming languages
                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up-right" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Loving Bouma</h4>
                        <span>Benevolent </span>
                        <!-- <p>

                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Gorgeous Ritaja</h4>
                        <span>Trustworthy </span>
                        <!-- <p>
                          Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-4.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Sweet Ritaja</h4>
                        <span>Adorable </span>
                        <!-- <p>
                          Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-5.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Laughing Ritaja</h4>
                        <span>Empathetic </span>
                        <!-- <p>
                          Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-6.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Our Ritaja</h4>
                        <span>Generous  </span>
                        <!-- <p>
                          Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-7.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Our ছো্ট্ট Ritaja</h4>
                        <span>Lovable</span>
                        <!-- <p>
                          Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-8.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Our Ritaja</h4>
                        <span>Lovable</span>
                        <!-- <p>
                          Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-9.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Our Ritaja</h4>
                        <span>Lovable</span>
                        <!-- <p>
                          Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>






            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/july_2021.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/august_2021.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/september_2021.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/october_2021.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/november_2021.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/december_2021.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/january_2022.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/february_2022.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/march_2022.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/april_2022.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/may_2022.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/june_2022.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/calendar/july_2022.jpg" class="img-fluid" alt="">
                </div>
            </div>




            <div class="member">
                <img src="assets/birthday/DSC_0094.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Our Ritaja</h4>
                    <span>Lovable</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">
                        <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                        <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                    </div>
                </div>
            </div>

            <div class="member">
                <img src="assets/birthday/DSC_0255.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Happy Birthday Ritaja</h4>
                    <span>You are sweet like this Chocolate</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">
                        <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                        <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                    </div>
                </div>
            </div>

            <div class="member">
                <img src="assets/birthday/DSC_1051.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>A small gift to our Ritaja</h4>
                    <span>Love you a lots</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">
                        <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                        <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                    </div>
                </div>
            </div>

            <div class="member">
                <img src="assets/birthday/DSC_1059.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Tear of Joy</h4>
                    <span>Expression of love</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">
                        <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                        <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                    </div>
                </div>
            </div>

            <div class="member">
                <img src="assets/birthday/DSC_1071.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Natural Expression</h4>
                    <span>Expression of love</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">
                        <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                        <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="member">
                <img src="assets/birthday/DSC_1034.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>রূপং দেহি জয়ং দেহি</h4>
                    <span>Expression of love</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">
                        <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                        <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="member">
                <img src="assets/birthday/DSC_1067.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Natural Expression</h4>
                    <span>Expression of love</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">
                        <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                        <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="member">
                <img src="assets/birthday/DSC_0004.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Queen of the day</h4>
                    <span>Expression of joy</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">
                        <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                        <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                    </div>
                </div>
            </div>

            <div class="member">
                <img src="assets/birthday/DSC_0024.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Friendship Unlimited</h4>
                    <span>Expression of joy</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">
                        <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                        <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                    </div>
                </div>
            </div>

            <div class="member">
                <img src="assets/birthday/DSC_0265.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Cake for our Baby</h4>
                    <span>Expression of joy</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">
                        <a target="_blank" href="https://twitter.com/RitajaGhosh"><i class="bi bi-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/ritaja.ghosh.1"><i class="bi bi-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/myself_ritaja/"><i class="bi bi-instagram"></i></a>
                        <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                    </div>
                </div>
            </div>

            <div class="member">
                <img src="assets/birthday/DSC_0024.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Friendship Unlimited</h4>
                    <span>Expression of joy</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                </div>
            </div>

            <div class="member">
                <img src="assets/birthday/DSC_0290.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Sibling</h4>
                    <span>Expression of joy</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                </div>
            </div>

            <div class="member">
                <img src="assets/birthday/DSC_1093.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Sibling</h4>
                    <span>Expression of joy</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                </div>
            </div>

            <div class="member">
                <img src="assets/birthday/DSC_1100.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Love you mam</h4>
                    <span>Expression of joy</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                </div>
            </div>

            <div class="member">
                <div class="member-content">
                    <h4>সবার প্রিয় ঋতজা</h4>
                    <span></span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">
                        যখন ভালবাসার পরিধি চেনা গণ্ডি পার করে আরো অনেক দূরে বিস্তার লাভ করে তখন সেই ভালবাসার কারণ বিশ্লেষণের পরিবর্তে তাকে উপভোগ করাই শ্রেয়। তোর ক্ষেত্রেও তাই হয়েছে, বাড়ি, আত্মীয়-স্বজনের বাইরেও একটা বিশেষ স্থান তৈরী হয়েছে, এ বছরে তার শুধুমাত্র বহিঃপ্রকাশ হয়েছে। জলবিন্দু যে ভাবে জমতে জমতে একদিন  টইটুম্বুর জলজ মেঘে পরিণত হয়, পরিবর্তিত হয় বৃষ্টির উতলধারায়, তেমনই তোর প্রতি প্রত্যেকের এই উন্মাদনা এই জন্মদিনকে সামনে রেখে উৎসবের আকার ধারণ করেছে। এ যেন আনন্দ দিয়ে আনন্দ পাওয়া, এই স্বাদের ভাগ হয় কারণ ভাগের ফলে যে এর বৃদ্ধি গুণত্বর প্রগতিতে হতে থাকে। নিক্কন তোর জন্য যে Surprise Event তৈরী করেছিল তা বিশেষ গুরুত্ব বহন করে। কিছু ছবি বিনা অনুমতিতে আমি এখানে যুক্ত করছি, কারণ এই স্বাদের যে ভাগ করেই মজা।
                    </div>
                </div>
            </div>

            <div class="member">
                <img src="assets/birthday/nikkon1.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Love you mam</h4>
                    <span>Expression of joy</span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                    <div class="social">

                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Trainers Section -->


